{* Latte template *}
{block content}
<h3>Seznam kontaktů</h3>
    <table>
                                    <thead>
                                    <tr>
                                        <th>Jméno a příjmení</th>
                                        <th>Telefon</th>
                                        <th>E-mail</th>
                                        <th>Poznámka</th>
                                    </thead>
                                    <tr n:foreach="$contacts as $contact1">
                                        <td><h3>{$contact1->fullname}</h3></td>
                                        <td>{$contact1->telnumber}</td>
                                        <td>{$contact1->email}</td>
                                        <td>{$contact1->memo}</td>
                                        {if $admin}
                                            <td class="edit-contact"><a n href="{plink editor, $presenter->contactManager->createCompleteUrl($contact1)}">Upravit</a></td>
                                            <td class="delete-contact"><a n:href=":Core:Contact:remove $contact1->id">Smazat</a></td>
                                        {/if}
                                    </tr>
                                </table> 
    {if $member || $admin}                                
        <ul><li><a n:href=":Core:Contact:editor">Vložit nový kontaktní záznam</a></li></ul>
    {/if}
    {define title}Výpis Kontaktů.{/define}
    {define description}Výpis všech kontaktů v adresáři.{/define}


