{define title}Přihlášení{/define}
{define description}Přihlášení do uživatelského účtu.{/define}
{block content}
<h3>Přihlášení</h3>
{* Formulář pro přihlášování. *}
{control loginForm}
<p>Pokud ještě nemáte účet, <a n:href="register">zaregistrujte se</a>.</p>
<ul><li><a n:href="Contact:default">Zpět na hlavní stránku</a></ul></li> 