{define title}Registrace{/define}
{define description}Registrace nového uživatelského účtu.{/define}
{block content}
{* Formulář pro registraci. *}
<h3>Nová registrace</h3>
{control registerForm}
<ul><li><a n:href="Contact:default">Zpět na hlavní stránku</a></ul></li> 